.popup__container {
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px 36px;
  position: absolute;
  max-width: 358px;
  max-height: 330px;
  background: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0 auto;
  top: 200px;
  left: 0;
  right: 0;
}

@media  screen and (max-width: 860px) {
  .popup__container {
    top: 174px;
  }
}

@media  screen and (max-width: 630px) {
  .popup__container {
    padding: 22px;
    width: 238px;
  }
}

@media  screen and (max-width: 440px) {
  .popup__container {
    top: 142px;
  }
}
