.popupImg__close {
  position: absolute;
  right: 40px;
  top: 40px;
  background-image: url("../../../images/close-icon.svg");
  width: 32px;
  height: 32px;
  border: none;
  background-color: rgb(255, 255, 255, .0);
  cursor: pointer;
}

.popupImg__close:hover {
  opacity: 0.6;
  transition: 0.5s;
}

@media  screen and (max-width: 400px) {
  .popupImg__close {
    width: 20px;
    height: 20px;
    background-size: contain;
    top: -36px;
    right: 0px;
  }
}
