.place__item {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 282px;
  min-height: 361px;
  background-color: #FFF;
  border-radius: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 400px) {
  .place__item {
    margin-top: 20px;
  }

  .place__item:first-child {
    margin-top: 0;
  }
}
